
<div class="">
<br>

<div class="jumbotron">
<div class="row">
  <div class="col-sm-6">
  <h1>Mi proyecto Web</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Los invito a que la recorran y puedan disfrutar de la experiancia.</p>
  <p>
    <a class="btn  btn-primary" href="{% url 'registro'%}" role="button">Unete &raquo;</a>
  </p>
</div>
<div class="col-sm-6" ><iframe width="560" height="315" src="https://www.youtube.com/embed/jQji_JObU7U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

</div>
</div>
</div>
